.question-header-container {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-number {
    font-size: 18px;
    font-weight: bold;
}

.question-id {
    font-size: 14px;
    color: #999;
}

.question-score {
    font-size: 16px;
    font-weight: bold;
    color: #b65151;
}

.question-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}
